<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

<footer class="text-center text-whit" style="background-color: #f1f1f1;">

<!-- Grid container -->
<div class="container pt-4">

    <!-- Section: Social media -->
    <section class="mb-4">

    <!-- Instagram Icon -->
    <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="https://www.instagram.com/experconsult/"
        role="button"
        data-mdb-ripple-color="dark">
        <i class="fab fa-instagram"></i>
        </a>
    
    <!-- Google Icon -->
    <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="mailto:pedro.lara@experconsult.com.br"
        role="button"
        data-mdb-ripple-color="dark">
        <i class="fab fa-google"></i>
        </a>

    <!-- Linkedin Icon -->
    <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="https://www.linkedin.com/company/exper-consult-ltda/"
        role="button"
        data-mdb-ripple-color="dark">
        <i class="fab fa-linkedin"></i>
    </a>

    </section>
    <!-- Section: Social media -->
</div>
<!-- Grid container -->

<!-- Copyright -->
<div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright:
    <a class="text-dark" href="https://www.experconsult.com.br">Exper Consult Ltda</a>
</div>
<!-- Copyright -->
    <div class="logo-exper">
        <img href="#topo" src="./imgexper/logo-icone.png">
    </div>


</footer>
<style>
    @keyframes girar{
            0%{
                transform: rotate(0);
            }
            100%{
                transform: rotate(360deg);
            }
        }

    .logo-exper{
        position: fixed;
        right: 3rem;
        bottom: 3rem;
        height: 2rem;
        width: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0.5rem;
        animation: girar 4s linear infinite;
    }

    .logo-exper img {
        width: 5rem;
        height: 3rem;
    }

</style>