<!-- NAVBAR / MENU -->

<!-- NOME / LOGO EXPER REDIRECIONA PARA /home -->
<nav class="navbar navbar-expand-lg navbar-dark sticky-top px-2 " style="background-color: rgb(86, 132, 138)">
    <a class="navbar-brand" href="/home">EXPER CONSULT</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- BOTÃO HOME COM REDIRECIONAMENTO PARA /home -->
    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="/home">Home</a>
        </li>

        <!-- BOTÃO PARA CADASTRO E CONSULTA DE FORNECEDORES -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Fornecedores
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/cadastro-fornecedor">Cadastro</a>
            <a class="dropdown-item" href="http://expertestes:3000/fornecedores">Consulta</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#"></a>
            </div>
        </li>

        <!-- BOTÃO PARA CADASTRO E CONSULTA DE  EQUIPAMENTOS -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Equipamentos
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/cadastro-equipamentos">Cadastro</a>
            <a class="dropdown-item" href="http://expertestes:3000/equipamentos">Consulta</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#"></a>
            </div>
        </li>

        <!-- BOTÃO PARA CADASTRO E CONSULTA DE REPRESENTANTE -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Representantes
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/cadastro-representante">Cadastro</a>
                <a class="dropdown-item" href="http://expertestes:3000/representantes">Consulta</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#"></a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Clientes
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/cadastro-clientes">Cadastro</a>
                <a class="dropdown-item" href="http://expertestes:3000/clientes">Consulta</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#"></a>
                </div>
            </li>
        </ul>

        <div class="w-100">
            <ul class="navbar-nav w-100 float-right justify-content-end">
                <li class="float-right ml-auto">
                    <a class="nav-link" href="/suporte">Suporte</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<style>

    @import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&display=swap');


    #pesquisa{
        border: 0px;
        width: 18rem;
    }

    a{
        font-family: 'JetBrains Mono', monospace;
    }

</style>