<!--
    FORMULÁRIO PARA ENVIO DE DADOS PRO DB 
    O NAME SE REFERE A UMA COLUMN DO BD
    MANTER ESSE PADRÃO PARA FACILITAR ENTENDIMENTO
-->

<head>
    <link rel="stylesheet" href="../css/style.css" type="text/css">
</head>

<form action="/equipamentocadastrado" method="POST" enctype="multipart/form-data" autocomplete="off" style="padding: 1rem;" onsubmit="return alerta()" >
    <h1>Cadastro de equipamento</h1>
    <p style="text-transform: uppercase;">▶ Caso não tenha a informação, favor inserir "n/a" !!!</p>
    <p style="text-transform: uppercase;">▶ Campos marcados com "*" são obrigatórios !!!</p>
    <hr ></hr>
        <p>*Representa qual fornecedor: </p>
        <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Fornecedores</label>
        </div>
        <select class="custom-select" id="inputGroupSelect01" name="id_fornecedor">
            <option selected>Escolher...</option>
            {{#each fornecedores}}
            <option value={{fornec_fornecedornome}}>{{fornec_fornecedornome}}</option>
            {{/each}}
        </select>
        </div>
    <hr ></hr>
    <p>Nome do equipamento: </p>
    <input type="text" name="desceqp_nomeeqp">
    <hr ></hr>
    <p>Modelo: </p><input type="text" name="desceqp_modelo">
    <hr ></hr>
    <p>Capacidade: </p><input type="text" name="desceqp_capacidadeprod">
    <hr ></hr>
    <p>Consumo energético (Kw): </p><input type="text" name="desceqp_consumoene">
    <hr ></hr>
    <p>Tipo de Consumo: </p><input type="text" name="desceqp_consumotipo">
    <hr ></hr>
    <p>Preço do equipamento: </p><input placeholder="R$..." type="text" name="desceqp_precoeqp">
    <hr ></hr>
    <p>Data do valor acima: </p><input placeholder="dd/mm/aaaa" type="text" name="desceqp_dataultpreco">
    <hr ></hr>
    <p>Comentários sobre equipamento:</p>
    <textarea name="desceqp_comentario" cols="50" rows="5"></textarea>
    <hr ></hr>
    <p>Upload de imagem ⇪: </p>
    <div class="input-group">
    <div class="custom-file">
    <input type="file" class="custom-file-input" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" name="desceqp_imagem">
    <label class="custom-file-label" for="inputGroupFile04"></label>
    </div>
    </div>
    <hr ></hr>
    <p>Upload de pdf ⇪: </p>
    <div class="input-group">
    <div class="custom-file">
    <input type="file" class="custom-file-input" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" name="desceqp_pdf">
    <label class="custom-file-label" for="inputGroupFile04"></label>
    </div>
    </div>
    <hr ></hr>
    <div class="input-group-append" id="cadastrar">
        <button type="submit">Cadastrar!</button>
    </div>
</form>

<script>
    alerta = () => {
        alert('Cadastrado com sucesso!')
    }
</script>

<!-- ESTILIZAÇÃO PARA FORM -->