<!--
    FORMULÁRIO PARA ENVIO DE DADOS PRO DB 
    O NAME SE REFERE A UMA COLUMN DO BD
    MANTER ESSE PADRÃO PARA FACILITAR ENTENDIMENTO
-->

<head>
    <link rel="stylesheet" href="../css/style.css" type="text/css">
</head>

    <form action="/representantecadastrado" method="POST" enctype="multipart/form-data" style="padding: 1rem;" autocomplete="off">
        <h1> Cadastro de representante</h1>
        <p style="text-transform: uppercase;">▶ Caso não tenha a informação, favor inserir "n/a" !!!</p>
        <p style="text-transform: uppercase;">▶ Campos marcados com "*" são obrigatórios !!!</p>
        <hr></hr>
        <p>*Nome do representante: </p><input type="text" name="representante_nome">
        <hr></hr>
        <p>Telefone: </p><input type="text" name="representante_telefone">
        <hr></hr>
        <p>Site: </p><input type="text" name="representante_site">
        <hr></hr>
        <p>Estados de atuação: </p><input type="text" name="representante_estadoatuacao">
        <hr></hr>
        <p>Comentários sobre: </p><input type="text" name="representante_comentarios">
        <hr></hr>
        <p>*Representa qual fornecedor: </p>
        <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Fornecedores</label>
        </div>
        <select class="custom-select" id="inputGroupSelect01" name="representante_empresasrep">
            <option selected>Escolher...</option>
            {{#each fornecedores}}
            <option value={{fornec_fornecedornome}}.app>{{fornec_fornecedornome}}</option>
            {{/each}}
        </select>
        </div>
        <hr></hr>
        <p>*Status atual do representante: </p>
        <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Fornecedores</label>
        </div>
        <select class="custom-select" id="inputGroupSelect01" name="representante_status">
            <option selected>Escolher...</option>
            <option value="Ativo">Ativo</option>
            <option value="Inativo">Inativo</option>
            <option value="Indefinido">Indefinido</option>
        </select>
        </div>
        <hr></hr>
        <p>Upload de imagem ⇪: </p>
        <div class="input-group">
        <div class="custom-file">
        <input type="file" class="custom-file-input" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" name="representante_imagem">
        <label class="custom-file-label" for="inputGroupFile04"></label>
        </div>
        </div>
        <hr></hr>
        <div class="input-group-append" id="cadastrar">
        <button type="submit">Cadastrar!</button>
        </div>
    </form>