<form action="/equipamentocadastrado" method="POST" enctype="multipart/form-data" style="padding: 1rem;">
    <p style="text-transform: uppercase;">Obs: Caso não tenha a informação, favor inserir "n/a" !!!</p>
    <hr style=" width:40rem; height: .5rem;"></hr>
    <p>Nome do equipamento: <input type="text" name="desceqp_nomeeqp"></p>
    <hr style=" width:40rem; height: .5rem;"></hr>
    <p>Modelo :<input type="text" name="desceqp_modelo"></p>
    <hr style=" width:40rem; height: .5rem;"></hr>
    <p>Fabricante: <input type="text" name="desceqp_fabricante"></p>
    <hr style=" width:40rem; height: .5rem;"></hr>
    <p>Capacidade: <input type="text" name="desceqp_capacidade"></p>
    <hr style=" width:40rem; height: .5rem;"></hr>
    <p>Potência: <input type="text" name="desceqp_potencia"></p>
    <hr style=" width:40rem; height: .5rem;"></hr>
    <p>Consumo: <input type="text" name="desceqp_consumo"></p>
    <hr style=" width:40rem; height: .5rem;"></hr>
    <div class="input-group">
    <div class="custom-file">
    <input type="file" class="custom-file-input" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" name="desceqp_imagem">
    <label class="custom-file-label" for="inputGroupFile04"></label>
    </div>
    </div>
    <hr style=" width:40rem; height: .5rem;"></hr>
    <div class="input-group-append">
    <button type="submit">Cadastrar!</button>
    </div>
</form>