<form action="/representantecadastrado" method="POST" enctype="multipart/form-data" style="padding: 1rem;" autocomplete="off">
    <p style="text-transform: uppercase;">Obs: Caso não tenha a informação, favor inserir "n/a" !!!</p>
    <hr style=" width:40rem; height: .5rem;"></hr>
    <p>Nome do representante: <input type="text" name="representante_nome"></p>
    <hr style=" width:40rem; height: .5rem;"></hr>
    <p>Telefone: <input type="text" name="representante_telefone"></p>
    <hr style=" width:40rem; height: .5rem;"></hr>
    <p>Site: <input type="text" name="representante_site"></p>
    <hr style=" width:40rem; height: .5rem;"></hr>
    <p>Estados de atuação: <input type="text" name="representante_estadoatuacao"></p>
    <hr style=" width:40rem; height: .5rem;"></hr>
    <p>Comentários sobre: <input type="text" name="representante_comentarios"></p>
    <hr style=" width:40rem; height: .5rem;"></hr>
    <p>Empresas responsável: <input type="text" name="representante_empresasrep"></p>
    <hr style=" width:40rem; height: .5rem;"></hr>
    <p>Nº ID da empresa: <input type="text" name="fornecedor_id"></p>
    <hr style=" width:40rem; height: .5rem;"></hr>
    <div class="input-group">
    <div class="custom-file">
    <input type="file" class="custom-file-input" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" name="representante_imagem">
    <label class="custom-file-label" for="inputGroupFile04"></label>
    </div>
    </div>
    <hr style=" width:40rem; height: .5rem;"></hr>
    <div class="input-group-append">
    <button type="submit">Cadastrar!</button>
    </div>
</form>

<style>
    input{
        border-radius: .3rem;
        border-color:rgb(0, 0, 0) ;
        background-color: rgb(240, 239, 239);
    }
    p{
        font-size: 1.1rem;
        font-family: 'Courier New', Courier, monospace;
    }
</style>