<!--
    FORMULÁRIO PARA ENVIO DE DADOS PRO DB 
    O NAME SE REFERE A UMA COLUMN DO BD
    MANTER ESSE PADRÃO PARA FACILITAR ENTENDIMENTO
-->

<form action="/equipamentocadastrado" method="POST" enctype="multipart/form-data" style="padding: 1rem;" autocomplete="off">
    <p style="text-transform: uppercase;">▶ Caso não tenha a informação, favor inserir "n/a" !!!</p>
    <p style="text-transform: uppercase;">▶ Campos marcados com "*" são obrigatórios !!!</p>
    <hr style=" width:40rem; height: .5rem;"></hr>
        <p>*Representa qual fornecedor: </p>
        <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Fornecedores</label>
        </div>
        <select class="custom-select" id="inputGroupSelect01" name="id_fornecedor">
            <option selected>Escolher...</option>
            {{#each fornecedores}}
            <option value={{fornec_fornecedornome}}>{{fornec_fornecedornome}}</option>
            {{/each}}
        </select>
        </div>
    <hr style=" width:40rem; height: .5rem;"></hr>
    <p>Nome do equipamento: <input type="text" name="desceqp_nomeeqp"></p>
    <hr style=" width:40rem; height: .5rem;"></hr>
    <p>Modelo : <input type="text" name="desceqp_modelo"></p>
    <hr style=" width:40rem; height: .5rem;"></hr>
    <p>Capacidade: <input type="text" name="desceqp_capacidadeprod"></p>
    <hr style=" width:40rem; height: .5rem;"></hr>
    <p>Consumo energético (Kw): <input type="text" name="desceqp_consumoene"></p>
    <hr style=" width:40rem; height: .5rem;"></hr>
    <p>Tipo de Consumo: <input type="text" name="desceqp_consumotipo"></p>
    <hr style=" width:40rem; height: .5rem;"></hr>
    <p>Preço do equipamento: <input type="text" name="desceqp_precoeqp"></p>
    <hr style=" width:40rem; height: .5rem;"></hr>
    <p>Data do valor acima: <input type="text" name="desceqp_dataultpreco"></p>
    <hr style=" width:40rem; height: .5rem;"></hr>
    <p>Comentários sobre equipamento:</p>
    <textarea name="desceqp_comentario" cols="50" rows="5"></textarea>
    <hr style=" width:40rem; height: .5rem;"></hr>
    <p>Upload de imagem: </p>
    <div class="input-group">
    <div class="custom-file">
    <input type="file" class="custom-file-input" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" name="desceqp_imagem">
    <label class="custom-file-label" for="inputGroupFile04"></label>
    </div>
    </div>
    <hr style=" width:40rem; height: .5rem;"></hr>
    <div class="input-group-append">
    <button type="submit">Cadastrar!</button>
    </div>
</form>

<!-- ESTILIZAÇÃO PARA FORM -->

<style>

    @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

    input{
        border-radius: .3rem;
        border-color:rgb(0, 0, 0) ;
        background-color: rgb(240, 239, 239);
    }
    p{
        font-size: 1.5rem;
        font-family: 'Patrick Hand', sans-serif;
    }

    textarea{
        border-radius: .3rem;
        border-color:rgb(0, 0, 0) ;
        background-color: rgb(240, 239, 239);
    }
    
</style>