<!--
    FORMULÁRIO PARA ENVIO DE DADOS PRO DB 
    O NAME SE REFERE A UMA COLUMN DO BD
    MANTER ESSE PADRÃO PARA FACILITAR ENTENDIMENTO
-->

{{#each values}}
    <h1>Opa {{id}}</h1> <!-- FIXME NÃO ESTÁ LENDO OS DADOS -->
{{/each}}

<form action="/representantecadastrado" method="POST" enctype="multipart/form-data" style="padding: 1rem;" autocomplete="off">
    <p style="text-transform: uppercase;">Obs: Caso não tenha a informação, favor inserir "n/a" !!!</p>
    <hr style=" width:40rem; height: .5rem;"></hr>
    <p>Nome do representante: <input type="text" name="representante_nome"></p>
    <hr style=" width:40rem; height: .5rem;"></hr>
    <p>Telefone: <input type="text" name="representante_telefone"></p>
    <hr style=" width:40rem; height: .5rem;"></hr>
    <p>Site: <input type="text" name="representante_site"></p>
    <hr style=" width:40rem; height: .5rem;"></hr>
    <p>Estados de atuação: <input type="text" name="representante_estadoatuacao"></p>
    <hr style=" width:40rem; height: .5rem;"></hr>
    <p>Comentários sobre: <input type="text" name="representante_comentarios"></p>
    <hr style=" width:40rem; height: .5rem;"></hr>
    <div class="input-group mb-3">
    <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">Opções</label>
    </div>
    <select class="custom-select" id="inputGroupSelect01">
        <option selected>Escolher...</option>
        <option value="1"> Opa</option>
    </select>
    </div>
    <div class="input-group">
    <div class="custom-file">
    <input type="file" class="custom-file-input" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" name="representante_imagem">
    <label class="custom-file-label" for="inputGroupFile04"></label>
    </div>
    </div>
    <hr style=" width:40rem; height: .5rem;"></hr>
    <div class="input-group-append">
    <button type="submit">Cadastrar!</button>
    </div>
</form>

<!-- ESTILIZAÇÃO DE FORM -->

<style>

    @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

    input{
        border-radius: .3rem;
        border-color:rgb(0, 0, 0) ;
        background-color: rgb(240, 239, 239);
    }
    p{
        font-size: 1.5rem;
        font-family: 'Patrick Hand', sans-serif;
    }
    
</style>