<div style="padding: 1rem;">
    <h1>Email para suporte: pedroalveslara@gmail.com</h1>
    <hr style=" width:60rem; height: .5rem;"></hr>
    <h2>WhatsApp para suporte: +55(31)99284-2024</h2>
    <hr style=" width:60rem; height: .5rem;"></hr>
    <h3>
        <a href="https://beacons.ai/pedrolara.dev/" style="color: blueviolet;"> DEVELOPED BY !PL!</a>
    </h3>
</div>