<!--
    PÁGINA INICIAL DE SUPORTE
-->

<div style="padding: 1rem;">
    <h2>▶ Email para suporte: pedro.lara@experconsult.com.br</h2>
    <hr style=" width:98vw; height: .5rem;"></hr>
    <h2>▶ WhatsApp para suporte: +55(31)99284-2024</h2>
    <hr style=" width:98vw; height: .5rem;"></hr>
    <h6>
        <a href="https://beacons.ai/pedrolara.dev/" style="color: blueviolet;"> DEVELOPED BY !PL!</a> <!-- REDIRECIONA PARA PÁGINA DO DEV -->
    </h6>
</div>