<!--
    PÁGINA INICIAL DE SUPORTE
-->

<div style="padding: 1rem;">
    <h2>▶ Email para suporte: <a href="mailto:pedroalveslara@gmail.com">pedro.lara@experconsult.com.br</a></h2>
    <hr style=" width:98vw; height: .5rem;"></hr>
</div>