@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&display=swap');
    
form{
width: 40rem;
margin: auto;
align-items: center;
border: .5rem solid whitesmoke;
border-radius: .5rem;
}

#cadastrar button{
width: 10rem;
position: relative;
background-color: rgb(168,208,213);
font-family: 'JetBrains Mono', monospace;
font-size: 1.3rem;
border-radius: .5rem;
left: 13rem;
}

hr{
width: 36rem;
display: flex;
align-items: center;
}

input{
margin: auto;
width: 35rem;
border-radius: .3rem;
border-color:rgb(0, 0, 0) ;
background-color: rgb(240, 239, 239);
height: 2.2rem;
font-size: 1.2rem;
text-align: left;
display: flex;
align-items: center;
}
p{
margin: auto;
width: 35rem;
font-size: 1.5rem;
font-family: 'JetBrains Mono', monospace;
text-align: left;
}

h1{
text-align: center;
width: 35rem;
margin: auto;
display: flex;
align-items: center;
text-transform: uppercase;
padding-bottom: 1.5rem;
color: rgb(179,100,148);
}