p{
    font-weight: bold;
    word-wrap: break-word;
}

label{
    font-weight: initial;
    word-wrap: break-word;
}

.breakText{
    margin: none;
    display: flex;
    width: 50rem;
    overflow-wrap: break-word;
}